 .u-section-1 {
  background-image: url("images/asd-min.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-1 .u-text-1 {
  margin: 28px auto 0 calc(((100% - 1240px) / 2));
}

.u-section-1 .u-group-1 {
  min-height: 670px;
  height: auto;
  margin-top: 19px;
  margin-bottom: 8px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px 23px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 61px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 8px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}

.job-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 100px;
}

.job-info {
    flex-grow: 1;
}

.delete-form {
    flex-basis: auto;
}

.delete-button {
    padding: 5px 10px !important;
    background-color: #ff4d4d;
    color: white !important;
    border: black !important;
    cursor: pointer !important;
}
