 .u-section-1 {
  background-image: url("images/asd-min.jpg");
  background-position: 50% 50%;
  min-height: 818px;
}

.u-section-1 .u-text-1 {
  margin: 37px calc(((100% - 1240px) / 2) + 830px) 0 calc(((100% - 1240px) / 2));
}

.u-section-1 .u-group-1 {
  min-height: 699px;
  height: auto;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 25px 15px 75px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 80px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 620px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 530px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 475px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 310px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 130px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 224px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}

.service-item {
    display: flex;
    flex-direction: column !important;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 10px;

}
.tool-info {
    flex-grow: 1;
}

.tool-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}